.registration-container .card-body {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    word-wrap: break-word;
    background: #fff;
    margin: 30px 0;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    flex-direction: column;
    z-index: 1;
}

.registration-container .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.registration-container .divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.registration-container .divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.registration-container .btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.registration-container .btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

/*Media Queries */
@media only screen and (max-width : 600px){
    .registration-container .fullWidth{
        width: 90%;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1023px) {
    .registration-container .card-body {
        max-width: 100%;
    }
}